# NYC 311 Noise Complaints Analysis

Brainstorm a strategy to see if 311 noise complaints data reveal any trends. What other data might you cross-reference?

In [28]:
import pandas as pd

In [37]:
nc = pd.read_csv("311-noise-complaints2.csv")
nc

/var/folders/v9/x0wkmp2n2cnfvfjyn54n_9pm0000gn/T/ipykernel_1797/3545224557.py:1: DtypeWarning: Columns (17,18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  nc = pd.read_csv("311-noise-complaints2.csv")

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,38168996,01/09/2018 09:11:11 PM,01/10/2018 12:47:13 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10002.0,9 ALLEN STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.714870,-73.992605,"(40.71487000132079, -73.99260512396494)"
1,38169327,01/10/2018 01:17:56 AM,01/10/2018 05:25:32 AM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11370.0,77-08 30 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.760741,-73.890859,"(40.76074099172438, -73.89085945681273)"
2,38169700,01/09/2018 11:24:10 PM,01/10/2018 01:27:50 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10034.0,631 WEST 207 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.868225,-73.921542,"(40.86822455509854, -73.92154200316763)"
3,38169710,01/09/2018 04:25:30 PM,01/09/2018 05:40:17 PM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,10304.0,280 PARKHILL AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.612465,-74.083175,"(40.61246540873713, -74.08317460128792)"
4,38169711,01/09/2018 05:15:18 PM,01/09/2018 05:30:07 PM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11368.0,47-06 111 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.747366,-73.853550,"(40.74736560868442, -73.85354966632762)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3350541,57230763,04/04/2023 02:29:42 PM,04/04/2023 02:31:44 PM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,11366.0,78-15 PARSONS BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721959,-73.809697,"(40.72195913199264, -73.80969682426189)"
3350542,57230766,04/04/2023 10:10:58 PM,04/04/2023 10:57:36 PM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11101.0,37-05 28 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.756017,-73.933513,"(40.75601686127798, -73.93351328258431)"
3350543,57230772,04/04/2023 07:40:18 PM,NaN,EDC,Economic Development Corporation,Noise - Helicopter,Other,Above Address,10023.0,61 WEST 74 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778230,-73.976632,"(40.7782303975787, -73.97663162082777)"
3350544,57230775,04/04/2023 06:32:15 PM,04/04/2023 07:00:49 PM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11415.0,83-64 TALBOT STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708612,-73.827665,"(40.708612183362916, -73.82766495581306)"
3350545,57230778,04/04/2023 10:37:22 PM,04/05/2023 02:22:53 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10455.0,724 BECK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
mi = pd.read_csv("median-income-2021-raw.csv")
mi

/var/folders/v9/x0wkmp2n2cnfvfjyn54n_9pm0000gn/T/ipykernel_1797/1878701037.py:1: DtypeWarning: Columns (2,3,4,5,66,67,68,69,130,131,132,133,194,195,196,197) have mixed types. Specify dtype option on import or set low_memory=False.
  mi = pd.read_csv("median-income-2021-raw.csv")

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_001MA,S1901_C01_001EA,S1901_C01_002E,S1901_C01_002M,S1901_C01_002MA,S1901_C01_002EA,...,S1901_C04_014MA,S1901_C04_014EA,S1901_C04_015E,S1901_C04_015M,S1901_C04_015MA,S1901_C04_015EA,S1901_C04_016E,S1901_C04_016EA,S1901_C04_016M,S1901_C04_016MA
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,Annotation of Margin of Error!!Households!!Total,Annotation of Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,Annotation of Margin of Error!!Households!!Tot...,Annotation of Estimate!!Households!!Total!!Les...,...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...
1,860Z200US00601,ZCTA5 00601,5397,264,NaN,NaN,33.2,4.4,NaN,NaN,...,(X),(X),(X),(X),(X),(X),15,NaN,(X),(X)
2,860Z200US00602,ZCTA5 00602,12858,448,NaN,NaN,27.1,2.9,NaN,NaN,...,(X),(X),(X),(X),(X),(X),20.1,NaN,(X),(X)
3,860Z200US00603,ZCTA5 00603,19295,555,NaN,NaN,32.1,2.5,NaN,NaN,...,(X),(X),(X),(X),(X),(X),34.9,NaN,(X),(X)
4,860Z200US00606,ZCTA5 00606,1968,171,NaN,NaN,28.4,5.5,NaN,NaN,...,(X),(X),(X),(X),(X),(X),13,NaN,(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33770,860Z200US99923,ZCTA5 99923,13,20,NaN,NaN,0,68.4,NaN,NaN,...,(X),(X),(X),(X),(X),(X),0,NaN,(X),(X)
33771,860Z200US99925,ZCTA5 99925,345,47,NaN,NaN,7.5,4.7,NaN,NaN,...,(X),(X),(X),(X),(X),(X),10.9,NaN,(X),(X)
33772,860Z200US99926,ZCTA5 99926,457,46,NaN,NaN,3.3,1.8,NaN,NaN,...,(X),(X),(X),(X),(X),(X),38.9,NaN,(X),(X)
33773,860Z200US99927,ZCTA5 99927,11,15,NaN,NaN,0,74.4,NaN,NaN,...,(X),(X),(X),(X),(X),(X),0,NaN,(X),(X)
33774,860Z200US99929,ZCTA5 99929,841,73,NaN,NaN,3.9,1.9,NaN,NaN,...,(X),(X),(X),(X),(X),(X),24.9,NaN,(X),(X)

In [9]:
##filter large median census data to smaller dataset
midf = mi.filter(["NAME", "S1901_C01_012E"])
midf

                       NAME                                 S1901_C01_012E
0      Geographic Area Name  Estimate!!Households!!Median income (dollars)
1               ZCTA5 00601                                          15292
2               ZCTA5 00602                                          18716
3               ZCTA5 00603                                          16789
4               ZCTA5 00606                                          18835
...                     ...                                            ...
33770           ZCTA5 99923                                              -
33771           ZCTA5 99925                                          70625
33772           ZCTA5 99926                                          58229
33773           ZCTA5 99927                                              -
33774           ZCTA5 99929                                          54946

[33775 rows x 2 columns]

In [12]:
## rename columns 
## can put the same variable in to save the changes back into the variable
midf = midf.rename(columns={"NAME": "zip", "S1901_C01_012E": "median-income"})
midf

                        zip                                  median-income
0      Geographic Area Name  Estimate!!Households!!Median income (dollars)
1               ZCTA5 00601                                          15292
2               ZCTA5 00602                                          18716
3               ZCTA5 00603                                          16789
4               ZCTA5 00606                                          18835
...                     ...                                            ...
33770           ZCTA5 99923                                              -
33771           ZCTA5 99925                                          70625
33772           ZCTA5 99926                                          58229
33773           ZCTA5 99927                                              -
33774           ZCTA5 99929                                          54946

[33775 rows x 2 columns]

In [14]:
midf = midf.drop(midf.index[0])
midf

               zip median-income
2      ZCTA5 00602         18716
3      ZCTA5 00603         16789
4      ZCTA5 00606         18835
5      ZCTA5 00610         21239
6      ZCTA5 00611         17143
...            ...           ...
33770  ZCTA5 99923             -
33771  ZCTA5 99925         70625
33772  ZCTA5 99926         58229
33773  ZCTA5 99927             -
33774  ZCTA5 99929         54946

[33773 rows x 2 columns]

In [19]:
midf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33773 entries, 2 to 33774
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   zip            33773 non-null  object
 1   median-income  33773 non-null  object
dtypes: object(2)
memory usage: 527.8+ KB

In [21]:
## turn income into floating point numbers or integers before exporting
midf["median-income"] = pd.to_numeric(midf["median-income"], errors = "coerce")
midf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33773 entries, 2 to 33774
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   zip            33773 non-null  object
 1   median-income  30595 non-null  float64
dtypes: float64(1), object(1)
memory usage: 527.8+ KB

In [25]:
midf["zip"] = midf["zip"].str.replace("ZCTA5", "")
midf

          zip  median-income
2       00602        18716.0
3       00603        16789.0
4       00606        18835.0
5       00610        21239.0
6       00611        17143.0
...       ...            ...
33770   99923            NaN
33771   99925        70625.0
33772   99926        58229.0
33773   99927            NaN
33774   99929        54946.0

[33773 rows x 2 columns]

In [27]:
##export cleaned up version as a csv file
##add index mention so it doesn't re-add it again
midf.to_csv("median-income-2021.csv", index = False)

In [33]:
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3299517 entries, 0 to 3299516
Data columns (total 39 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unique Key                      int64
 1   Created Date                    object
 2   Closed Date                     object
 3   Agency                          object
 4   Agency Name                     object
 5   Complaint Type                  object
 6   Descriptor                      object
 7   Location Type                   object
 8   Incident Zip                    float64
 9   Incident Address                object
 10  Street Name                     object
 11  Cross Street 1                  object
 12  Cross Street 2                  object
 13  Intersection Street 1           object
 14  Intersection Street 2           object
 15  Address Type                    object
 16  City                            object
 17  Landmark                        object
 18  Facility Type                   object
 19  Status                          object
 20  Due Date                        object
 21  Resolution Description          object
 22  Resolution Action Updated Date  object
 23  Community Board                 object
 24  Borough                         object
 25  X Coordinate (State Plane)      float64
 26  Y Coordinate (State Plane)      float64
 27  Park Facility Name              object
 28  Park Borough                    object
 29  Vehicle Type                    float64
 30  Taxi Company Borough            float64
 31  Taxi Pick Up Location           float64
 32  Bridge Highway Name             float64
 33  Bridge Highway Direction        float64
 34  Road Ramp                       float64
 35  Bridge Highway Segment          float64
 36  Latitude                        float64
 37  Longitude                       float64
 38  Location                        object
dtypes: float64(12), int64(1), object(26)
memory usage: 981.8+ MB

In [38]:
nc["Complaint Type"].unique()

array(['Noise - Vehicle', 'Noise - Residential', 'Noise - Commercial',
       'Noise - Street/Sidewalk', 'Noise', 'Noise - Helicopter',
       'Noise - Park', 'Collection Truck Noise',
       'Noise - House of Worship'], dtype=object)

In [39]:
list(nc["Descriptor"].unique())

['Engine Idling',
 'Banging/Pounding',
 'Loud Music/Party',
 'Loud Talking',
 'Car/Truck Music',
 'Noise: Construction Before/After Hours (NM1)',
 'Loud Television',
 'Noise, Barking Dog (NR5)',
 'Noise: Private Carting Noise (NQ1)',
 'Other',
 'Noise: air condition/ventilation equipment (NV1)',
 'Car/Truck Horn',
 'Noise: Construction Equipment (NC1)',
 'Noise: Alarms (NR3)',
 'Noise: Jack Hammering (NC2)',
 '21 Collection Truck Noise',
 'NYPD',
 'Noise: Other Noise Sources (Use Comments) (NZZ)',
 'Noise: Manufacturing Noise (NK1)',
 'Noise, Other Animals (NR6)',
 'News Gathering',
 'Noise, Ice Cream Truck (NR4)',
 'Noise:  lawn care equipment (NCL)',
 'Noise: Loud Music/Nighttime(Mark Date And Time) (NP1)',
 'Noise: Boat(Engine,Music,Etc) (NR10)',
 'Noise: Loud Music/Daytime (Mark Date And Time) (NN1)',
 'Noise: Loud Music From Siebel System - For Dep Internal Use Only (NP21)',
 nan,
 'Noise: Vehicle (NR2)',
 'Noise',
 'Noise: Boat(Engine']

In [40]:
nc["Status"].unique

<bound method Series.unique of 0               Closed
1               Closed
2               Closed
3               Closed
4               Closed
              ...
3350541         Closed
3350542         Closed
3350543    In Progress
3350544         Closed
3350545            NaN
Name: Status, Length: 3350546, dtype: object>

In [48]:
nc.filter(list(nc.columns)[0:9])

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip
0,38168996,01/09/2018 09:11:11 PM,01/10/2018 12:47:13 AM,NYPD,New York City Police Department,Noise - Vehicle,Engine Idling,Street/Sidewalk,10002.0
1,38169327,01/10/2018 01:17:56 AM,01/10/2018 05:25:32 AM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11370.0
2,38169700,01/09/2018 11:24:10 PM,01/10/2018 01:27:50 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10034.0
3,38169710,01/09/2018 04:25:30 PM,01/09/2018 05:40:17 PM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,10304.0
4,38169711,01/09/2018 05:15:18 PM,01/09/2018 05:30:07 PM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11368.0
...,...,...,...,...,...,...,...,...,...
3350541,57230763,04/04/2023 02:29:42 PM,04/04/2023 02:31:44 PM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,11366.0
3350542,57230766,04/04/2023 10:10:58 PM,04/04/2023 10:57:36 PM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11101.0
3350543,57230772,04/04/2023 07:40:18 PM,NaN,EDC,Economic Development Corporation,Noise - Helicopter,Other,Above Address,10023.0
3350544,57230775,04/04/2023 06:32:15 PM,04/04/2023 07:00:49 PM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11415.0
3350545,57230778,04/04/2023 10:37:22 PM,04/05/2023 02:22:53 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10455.0